body {
    font-family: 'Roboto', sans-serif;
}

.header_intro {
    background-image: url("../assets/backgrounds/h_img.jpg");
    height: 860px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 300px;   
}
#mouse {
    margin-top: 150px;
}

.about {
    text-align: center;
}

p {
    font-size: 18px;
}
.service{
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    height: 400px;
    padding-top: 130px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
.what_we_do{
    justify-content: center;
    text-align: center;
}
.description1, .description2, .description3{
    display: none;
}
.portfolio{
    text-align: center;
}
.contact_us{
    background-image: url("../assets/backgrounds/c_image.jpg");
    background-repeat: no-repeat;
    color: white;
    height:700px ;
    text-align: center;
    width: 100%;
   
}
.contact_us h2{
    font-weight: 700;
}
.row{
    justify-content: center;
}
input,textarea{
    background-color: transparent;
    color: white;
}
::placeholder{
    color: white;
}
.detail input{
    overflow: hidden;
    width: 90%;
}
.contact_us textarea{
    width: 60%;
}
.contact_us input,.contact_us textarea{
    border: solid 1px;
    border-color: white;
}
.social{
    
    text-align: center;
}
.social img{
    padding:10px;
}